@using LikeMyDessert.Web.ViewModels.Picture

@model LikeMyDessert.Web.ViewModels.HomePage.DessertBoxViewModel

<div id="@Model.ID" class="dessert-box">
    <div>
        <div>
            @Html.Partial("_Picture", Model.Picture)
        </div>

        <img class="like-button" title="Like" src="@Url.Content("~/Content/images/like.jpg")"  />

        <span class="like-count">@Html.DisplayTextFor(m => m.Likes)</span>

        <img class="dislike-button" title="Dislike" src="../../Content/images/dislike.jpg" />

        <span class="dislike-count">@Html.DisplayTextFor(m => m.Dislikes)</span>
    </div>
    <div>
        <div class="title">
            @Html.DisplayTextFor(m => m.Name)
        </div>
        <p class="description">
            @Html.DisplayTextFor(m => m.Description)
        </p>
    </div>
</div>