@using LikeMyDessert.Web.ViewModels.Picture

@model LikeMyDessert.Web.ViewModels.HomePage.DessertBoxViewModel

<div id="@Model.ID" class="dessert-box">
    <div class="left-pane">
        <div>
            @Html.Partial("_Picture", Model.Picture)
        </div>

        <div class="like-box">
            <img class="like-button rate-button" title="Like" src="@Url.Content("~/Content/images/like.jpg")" />

            <span class="like-count rate-count">@Html.DisplayTextFor(m => m.Likes)</span>
        </div>

        <div class="dislike-box">
            <img class="dislike-button rate-button" title="Dislike" src="../../Content/images/dislike.jpg" />

            <span class="dislike-count rate-count">@Html.DisplayTextFor(m => m.Dislikes)</span>
        </div>
    </div>
    <div class="right-pane">
        <div class="title">
            @Html.DisplayTextFor(m => m.Name)
        </div>
        <p class="description">
            @Html.DisplayTextFor(m => m.Description)
        </p>
    </div>
</div>