@using LikeMyDessert.Web.ViewModels.Dessert;

@model LikeMyDessert.Web.ViewModels.HomePage.HomePageViewModel
@{
    ViewBag.Title = "Dessert Menu";
}

<section id="home-page">
    <div id="top-slide-pictures">
        @foreach (var picture in Model.TopSlidePictures)
        {
            @Html.Partial("_Picture", picture)
        }
    </div>
    
    <header id="desserts-header">
        <h2>Which Ones Do You Like?</h2>
    </header>
    
    <div id="desserts-buttons">
        <a id="update-button" title="Update Dessert Pane" href="javascript:void(0)">
            Update
        </a>
        <a id="add-button" title="Add a dessert!" href="javascript:void(0)">
            Add +
        </a>
    </div>

    @Html.Partial("_AddDessertForm", new AddDessertViewModel())

    <div id="desserts-container">
        @Html.Partial("_DessertPane", Model.Desserts)
    </div>
</section>

@section Styles{
    <link href="@Url.Content(@"~/Content/less/HomePage.less")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="@Url.Content(@"~/Scripts/homepage.js")" type="text/javascript"></script>
    <script src="@Url.Content(@"~/Scripts/dessert.js")" type="text/javascript"></script>
    <script src="@Url.Content(@"~/Scripts/topSlidePicture.js")" type="text/javascript"></script>
}